<aside class="flex-col items-center hidden bg-blueGray-300 dark:bg-blueGray-700 dark:text-gray-100 grid-in-sidebar lg:flex">
    <span class="p-2 font-semibold uppercase">{{if isset .Site.Params "title"}}{{.Site.Params.title}}{{else}}{{.Site.Title}}{{end}}</span>
        <div class="mt-3 overflow-hidden rounded-full h-44 w-44 bg-royal-600">
        <img src="{{.Site.Params.profilePic | relURL}}" alt="SVG of myself">
        </div>
        <p class="p-2 mx-auto mt-2 text-sm text-center text-gray-600 dark:text-gray-400">{{.Site.Params.description}}</p>
        <div class="grid w-[90%] grid-cols-7 gap-4 mt-2 place-items-center">
 {{ range .Site.Params.socials}}
  <a href='{{index . "url"}}' class="col-span-1 text-2xl transition-colors duration-75 hover:text-blue-400">
    <i class='{{index . "icon"}}'></i>
  </a>
 {{ end }}

</aside>