<aside class="-translate-x-full sidebar-overlay bg-blueGray-300 dark:bg-navy-600 dark:text-gray-100">
  <!-- Sidebar Toggle and Title -->
  <div class="flex flex-row items-center w-full"> 
    <a href="{{.Site.BaseURL}}" class="p-2 font-semibold uppercase font-header">{{if isset .Site.Params "title"}}{{.Site.Params.title}}{{else}}{{.Site.Title}}{{end}}</a>
    <button class="p-4 ml-auto transition-colors duration-100 hover:bg-gray-400 dark:hover:bg-blueGray-600" @click="toggleSidebar();">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>
</div>

  <!-- Profile Picture -->
<div class="w-48 h-48 mt-3">
  <img src="{{.Site.Params.profilePic | relURL}}" alt="user profile picture" class="object-cover h-full min-w-full rounded-full">
</div>
  <!-- Description -->
<p class="mx-auto mt-2 text-sm text-center text-gray-600 dark:text-gray-400">{{.Site.Params.description}}</p>
  <!-- Social Icons -->
  <div class="grid w-3/4 grid-cols-7 gap-2 mt-2 place-items-center">
 {{ range .Site.Params.socials}}
  <a href='{{index . "url"}}' class="col-span-1 text-2xl transition-colors duration-75 hover:text-blue-400">
    <i class='{{index . "icon"}}'></i>
  </a>
 {{ end }}


<span class="absolute bottom-0 mb-4 text-sm text-gray-700 dark:text-gray-400">&copy;2021-{{now.Format "2006"}} {{if isset .Site.Params "author"}}{{.Site.Params.author}}{{else}}{{.Site.Author.name}}{{end}}</span>
</aside>