{{ define "main" }}
<div id="resume" class="h-full grid grid-cols-1 lg:grid-cols-[2.35fr,0.65fr]">
    <div class="mr-3">
        <div class="grid grid-cols-3">
            <li class="col-span-1 list-none"><i class="fas fa-home"></i>&nbsp;&nbsp;{{.Page.Params.location}}</li>
            <li class="list-none"><i class="fas fa-phone"></i>&nbsp;&nbsp;{{.Page.Params.phone}}</li>
            <li class="list-none ">
                <a href="mailto:{{.Page.Params.email}}"
                    class="!no-underline !text-gray-900 dark:!text-gray-100 md:dark:!text-gray-300 md:text-gray-700 hover:!text-royal-600 dark:hover:!text-royal-400">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;<span>jacob dot hilker2 at gmail.com</span>
                </a>
            </li>
        </div>
        {{.Content}}
    </div>

    <aside class="border-l-[1px] border-gray-400 dark:border-gray-700 mobile:hidden">
        <div class="ml-5">
            <h3 class="!mt-5 !font-normal !text-2xl !mb-0 !pb-0">Skills</h3>
            <strong class="text-[14px] font-bold underline">Technical</strong>
            {{ range .Page.Params.skills}}
            <li class="!ml-2 list-none">{{.}}</li>
            {{ end }}

            <strong class="text-[14px] font-bold underline">Professional</strong>
            {{ range .Page.Params.soft_skills}}
            <li class="!ml-2 list-none">{{.}}</li>
            {{ end }}
            <h3 class="!mt-5 !font-normal !text-2xl !pb-0 !mb-0">Interests</h3>
            {{ range .Page.Params.interests}}
            <li class="!ml-2 list-none">{{.}}</li>
            {{ end }}

        </div>


    </aside>
</div>
{{ end }}