/*  Custom Font Imports */

@import url("/fonts/iosevka-mono.css");
@import url("/fonts/iosevka-slab.css");

@import url("/fonts/iosevka-sans.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    html {
        @apply scroll-smooth motion-reduce:scroll-auto;
    }

    body {
        @apply min-h-screen antialiased bg-gray-100 dark:bg-gray-900;
    }


    code,pre {
        @apply !text-[12px];
    }


     li[role="doc-endnote"] > p {
        @apply !text-[12px];
    }

    li[role="doc-endnote"]::marker {
        @apply !text-[12px];
    }

    #resume > * > h2 {
        @apply !text-2xl;
    }

    #TableOfContents > ul > li {
        @apply !list-none;
    }
}

@layer components {

    .sidebar-overlay {
        @apply fixed inset-0 z-10 flex flex-col items-center duration-150 transform shadow-lg w-72 lg:invisible;
    }


    .cvwrapper {
        @apply pl-5 border-l-2 border-gray-400;
    }

    .btn-primary {
        @apply text-white transition-colors duration-150 transform bg-royal-600 hover:bg-royal-700 dark:hover:bg-royal-400;
    }

    .btn-secondary {
        @apply text-white transition-colors duration-150 transform bg-brown-600 hover:bg-brown-700 dark:hover:bg-brown-400;
    }

}